@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    margin: 0;
}

/* shared styles */
.display-flex{
    display: flex;
}
/* dark 1 color */
.dark-grey-text{
    color: #131313;
}
/* dark 2 color */
.grey-text{
    color: #424242;
}

/* dark 3 color */
.light-grey-text{
    color: #727272;
}

.secondery-bg{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
}

.section-title{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 0;
    color: #131313;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main section{
    margin-top: 120px;
}

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 3rem;
    font-weight: bold;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
    margin-bottom: 40px;
}

/* team section style */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.our-features{
    margin-left: 75px;
    max-width: 530px;
}
.Quick-list{
    font-weight: 500;
    font-size: 3rem;
}
.Features{
    color: #FF900E;
}

/* enjoy feature style */

.enjoy-feature-container{
    max-width: 600px;
}
.enjoy-feature-title{
    width: 470px;
}
.enjoy-feature-items{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.feature-items-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0 0 10px 0;
}
.enjoy-feature-img{
    margin-left: 150px;
}

/* responsive media query small/mobile device*/
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams,
    .enjoy-feature
    {
        flex-direction: column;
    }
    .banner-img{
        max-width: calc(100% - 40px);
        padding: 0 20px 0 20px;
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
        padding: 20px;
        margin: 0 auto;
        text-align: center;
    }
    .enjoy-feature{
        margin-top: 0px;
        padding: 20px;
    }
    .enjoy-feature-img,
    .enjoy-feature-title
    {
        max-width: 400px;
        margin-left: 0;
    }
}


/* responsive media query medium device*/
@media screen and (min-width: 576px ) and (max-width: 992px) {
    .teams,
    .enjoy-feature
    {
        flex-direction: column;
    }
    .navbar
    {
        padding: 0 20px 0 20px;
    }
    .banner-img{
        max-width: calc(100% - 40px);
        padding: 0 20px 0 20px;
    }
    .enjoy-feature{
        max-width: 600px;
        margin: 0 auto;
    }
    .enjoy-feature-img{
        margin-left: 0;
    }
}